<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funagain.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a2261558-cfef-42b2-b513-93e3613ed1df/resourceGroups/B2C/providers/Microsoft.Web/sites/FunAgain</ResourceId>
    <UserName>$FunAgain</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funagain.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>